@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Open Sans
}

.main, .collect, .series {
    background: linear-gradient(to bottom, #fdf7f7, #fcf3f3);
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 10px;
    position: relative;
}

.collect, .series {
    min-height: calc(100% - 75px)
}

.middle {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.box {
    width: 500px;
    margin-top: 15em;
    margin-left: auto;
    margin-right: auto;
}

.box > h1 {
    text-align: center;
}

.search, .search > input {
    width: 100%;
}

.top .search-escape {
    width: 50%;
    margin-left: 5%;
    position: relative;
}

.top .search-escape .search-cage {
    z-index: 1;
    position: absolute;
}

.search {
    border: grey solid 1px;
    min-height: 30px;
    background: white;
    border-radius: 5px;
    border: solid 1px #e6e6e6;
    padding: 3px 10px;
    padding-right: 0px;

}

.search > input {
    border: none;
    height: 30px;
    padding: 0;
    outline: none;
    font-size: 20px;
    width: calc(100% - 40px);
    float: left;
    display: block;
}

.search-submit {
    background-color: white;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: 7px;
    height: 30px;
    width: 30px;
    border: none;
    display: block;
    float: left;
    border-radius: 3px;
}

.search-submit:hover {
   background-color: lightgrey;
}

.autocomplete {
    clear: both;
}

.autocomplete > .item {
    margin-left: -10px;
    padding: 2px 10px;
    font-size: 20px;
}

.autocomplete > .item.selected, .autocomplete > .item:hover {
    background: #f4d2d2;
    color: black;
}

.top {
    height: 75px;
    padding-top: 20px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.top h1 {
    margin: 0;
}

.top > .middle > h1, .top > .middle > .search-escape {
    float: left;
}

.torrent-sets {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.torrent-set {
    text-decoration: none;
    color: black;
    width: 190px;
    background: white;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.torrent-set > .title {
    font-size: 1.17em;
    line-height: 2.7em;
}

.torrent-set .tag {
    background: #f4d2d2;
    padding: 10px;
    margin-right: 5px;
}

.group {
    margin: 0px;
}

.left {
    float: left;
    margin: 0;
    width: 50%;
}

.download {
    margin-left: 10px;
    color: #E18484;
}

.torrent > h3 {
    margin-bottom: 5px;
}

.clear {
    clear: both;
}
