<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Odango.moe - The smarter nyaa search engine</title>
</head>
<body>
    <div class="main">
        <div class="middle">
            <div class="box">
                <h1>Odango.moe</h1>
                <form action="/collect" class="search">
                    <input autocomplete="off" name="q" type="text">
                    <button class="search-submit" type="submit"><span class="fa fa-search"></span></button>
                    <div class="autocomplete">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
