<h2>{{ query }}</h2>
<div class="searched">
    Searched for:
    {% for title in searched %}
    <b>"{{ title }}"</b>
    {% endfor %}
</div>
<div class="torrent-sets">
    {% for hash, result in results if result.meta.group %}
    <a class="torrent-set" href='/series/{{ result.meta.title }}/{{ hash|replace({(result.meta.title ~ '-' ) : ""}) }}'>
            <h3 class="group">{{ result.meta.group }}</h3>
            <table>
                <tr>
                    <th>Quality
                    <td>{{ result.meta.quality ?: '-' }}
                <tr>
                    <th>Type
                    <td>{{ result.meta.type ?: '-' }}
                <tr>
                    <th>Amount
                    <td>{{ result.torrents|length }}
                <tr>
                    <th>Size
                    <td>{{ (result.info.size.total / (1024 * 1024))|round(0, 'ceil') }} MB
            </table>
        </a>
    {% else %}
        No results for {{ query }}
    {% endfor %}
</div>
